body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
#game {
    text-align: center;
}
  
#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    gap: 2px;
    margin-top: 10px;
}
  
.row {
    display: flex;
}
  
.cell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
  
.cell.revealed {
    background-color: #ddd;
}